<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="GET" action="{% url 'create-property' %}">
            <button type="submit">Create Property</button>
        </form>
       {% for i in props %}
        {{i.name}}
        <form method="get" action="{% url 'create-unit' %}">
            {% csrf_token %}
            <input type='hidden' name='prop_id' value={{i.id}}>
            <button>add unit</button>
        </form>
        <button><a href='/property/?prop_id={{i.id}}'>list all property</a></button>
       {% endfor %}


       <button><a href="/create-tenant-profile/">Create Tenant</a></button>
    </body>
</html>